.order .view_details_btn {
  color: var(--lighter_pink);
  background-color: var(--pastel_pink);
  border-radius: 5px;
}

.order > div:first-child {
  border-bottom: solid thin var(--cerebral_grey);
}

.order p {
  font-size: 14px;
}

.order > div:nth-child(2) > div:last-child > p:first-child {
  color: var(--darkest_Grey);
}

@media screen and (max-width: 575px) {
  .order {
    border-radius: 5px;
  }
  .order:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .order > div:first-child {
    border-bottom: none;
  }

  .order > div:first-child > div:first-child,
  .order > div:first-child > div:nth-child(2) {
    border-bottom: solid thin var(--cerebral_grey);
  }
}

@media screen and (max-width: 400px) {
  .order p,
  .order button {
    font-size: 13px;
  }
}
