tr.cart_table_row > td:nth-child(4) button {
  font-family: Archivo_Light;
  color: var(--dark_wine);
  font-weight: normal;
}

tr.cart_table_row > td {
  vertical-align: top;
  box-sizing: border-box;
  padding-right: 1rem;
}

tr.cart_table_row > td:first-child {
  padding-left: 1rem;
}

tr.cart_table_row p {
  word-wrap: break-word;
}
