#cart #order_summary a {
  border: none;
  padding: 5px;
  border-radius: 4px;
}

#cart #order_summary > div:nth-child(2) > p:last-child {
  font-size: 0.69rem;
}

#cart #empty_view_content > div > p:last-child {
  font-size: 14px;
}
