#order__details {
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-all;
}

#order__details a {
  color: var(--lighter_pink);
  background-color: var(--lightest_grey);
  font-size: 12px;
}

#order__details .cart_item > div:last-child > p:nth-child(2) {
  font-size: 12px;
}

#order__details .cart_item > div:last-child > p:last-child {
  font-size: 11px;
}

#order__details .cart_item > div:last-child > p:nth-child(2) > span {
  color: var(--dark_moderate_violet);
}

#order__details > div:first-child > div,
#order__details > div:last-child {
  padding: 0 1.5rem;
}
