#productPage #carousel_holder {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#productPage {
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  #productPage > div {
    margin-bottom: calc(var(--product_add_cart_btn) + 48px);
  }
}
