#auth_wrapper {
  width: 400px;
}

.auth_page #brand {
  width: 200px;
}

.auth_page #brand > img {
  aspect-ratio: 1103/243;
}

@media screen and (max-width: 450px) {
  #auth_wrapper {
    width: 100%;
  }

  .auth_page #brand {
    width: 140px;
  }
}
