#product_review {
  width: 450px;
  border-radius: 5px;
}

#product_review .star_icon {
  font-size: 35px;
}

#product_review > div:last-child {
  width: fit-content;
}

#product_review #cancel_modal_btn {
  color: var(--lighter_pink);
  border: solid thin var(--lighter_pink);
  background-color: var(--lighter_pink);
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  #product_review {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  #product_review {
    font-size: 14px;
  }
  #product_review .star_icon {
    font-size: 30px;
  }
}
