.product_card {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 10px -7px, -1px -1px 10px -7px;
  cursor: pointer;
  width: 19%;
}

.product_card:hover {
  box-shadow: 1px 1px 20px -13px, -1px -1px 20px -13px;
}

.product_card button {
  color: var(--deep_pink);
  padding: 5px;
  display: block;
  border: solid thin var(--deep_pink);
  text-align: center;
  border-radius: 5;
  border-radius: 5px;
  width: 100%;
}

.product_card button:hover {
  background-color: var(--deep_pink);
  color: white;
}

.product_card p {
  font-size: 15px;
  word-wrap: break-word;
}

.product_card #card_spinner {
  background-color: var(--deep_pink);
}

.product_card #reviews p {
  font-size: 14px;
}
