.product_card {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 10px -7px, -1px -1px 10px -7px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: 320px;
}

.product_card:hover {
  box-shadow: 1px 1px 20px -13px, -1px -1px 20px -13px;
}

.product_card button.add_cart_btn {
  color: var(--deep_pink);
  padding: 5px;
  display: block;
  border: solid thin var(--deep_pink);
  text-align: center;
  border-radius: 5;
  border-radius: 5px;
  width: 100%;
}

.product_card button.add_cart_btn:hover {
  background-color: var(--deep_pink);
  color: white;
}

.product_card p {
  font-size: 15px;
  word-wrap: break-word;
}

.product_card .card_spinner {
  background-color: var(--deep_pink);
}

.product_card .reviews {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product_card .reviews > div:first-child {
  display: flex;
  align-items: center;
}

.product_card .reviews span {
  font-size: 14px;
}

@media screen and (max-width: 450px) {
  .product_card .reviews span {
    font-size: 13px;
  }

  .product_card p {
    font-size: 13px;
  }
}

@media screen and (max-width: 576px) {
  .product_card {
    box-shadow: none;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 390px) {
  .product_card .reviews {
    flex-direction: column;
  }

  .product_card .reviews > div:first-child {
    width: 100%;
  }

  .product_card .reviews > span {
    width: 100%;
  }
}
