#breadCrumb {
  position: sticky;
  top: calc(-1 * (var(--bread--crumb-nav--area) - var(--navbar-height)));
  z-index: 700;
}

#breadCrumb a {
  color: black;
}

#breadCrumb #current_link_label {
  color: var(--lighter_pink);
  font-size: 15px;
  overflow: visible;
}

#breadCrumb #filter_sort_toggle_wrapper button {
  color: var(--dark_wine);
}
