#checkout_header {
  border-bottom: solid thick var(--dark_orange);
}

#checkout_header #brand {
  width: 120px;
}

#checkout_header #brand > img {
  aspect-ratio: 1103/243;
}

#checkout_header h1 {
  font-size: 28px;
}

@media screen and (max-width: 576px) {
  #checkout_header #brand {
    width: 70px;
  }
  #checkout_header h1 {
    font-size: 16px;
  }
}
