#login_modal {
  width: 450px;
  min-height: 100vh;
}

#login_modal button#modal_login_link a {
  color: var(--deep_pink);
}

#login_modal button#modal_login_link {
  position: absolute;
  bottom: 0;
  padding: 10px;
  box-shadow: 1px 0 10px -7px;
  width: 100%;
}

#login_modal button#modal_cancel_btn {
  height: fit-content;
  border: solid thin var(--Light_Grey);
  border-radius: 5px;
}

#login_modal div#modal_login_header {
  box-shadow: -1px 0 10px -7px;
  padding: 0 30px;
}

@media screen and (max-width: 575px) {
  #login_modal {
    width: 100%;
  }
}
