#checkout_header {
  border-bottom: solid thick var(--dark_orange);
}

#checkout #transfer_btn,
#checkout #closeTransferBtn {
  padding: 10px 0.5rem;
}

#change_address {
  background-color: var(--lightest_grey);
  border: solid thin var(--lightest_grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#change_address > div > div:first-child {
  width: 55%;
}

#change_address > div {
  font-size: 12px;
}

#change_address > div > div:last-child {
  width: 42%;
  background-color: var(--lavender_blush);
  height: fit-content;
  color: var(--lighter_pink);
}

#address_dialog {
  width: 450px;
}

#profile_list {
  overflow-y: auto;
}

#profile_list button {
  border: solid thin var(--lighter_pink);
  border-radius: 3px;
  color: var(--lighter_pink);
}

#profile_list p {
  font-size: 13px;
}

.profileCard {
  border-radius: 5px;
}

#checkout > div > section:last-child {
  width: 32%;
}
