#checkout #transfer_btn,
#checkout #closeTransferBtn {
  padding: 10px 0.5rem;
}

#profile_list {
  overflow-y: auto;
}

#profile_list button {
  border: solid thin var(--lighter_pink);
  border-radius: 3px;
  color: var(--lighter_pink);
}

#profile_list p {
  font-size: 13px;
}

#checkout > div > section:last-child {
  width: 32%;
}

@media screen and (max-width: 1000px) {
  #checkout > div > section:last-child {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  #checkout > div > section:last-child {
    width: 100%;
  }

  #checkout {
    padding-bottom: calc(var(--checkout_btn_wrap) + 40px);
  }
}
