#product_tab button {
  font-size: 1rem;
}
#product > div:first-child > div:first-child,
#product > div:first-child > div:last-child > div,
#product > div:last-child {
  border-radius: 5px;
}

#product > div:last-child > div > div:last-child {
  max-height: 500px;
  overflow-y: auto;
}

#product #save_item > button:first-child {
  background-color: var(--light_Green);
  padding: 0.7rem 6rem;
}

#product #save_item > div:last-child span {
  font-size: 12px;
  color: grey;
}

#rating_stats {
  width: 300px;
  color: var(--cerebral_grey);
  font-size: 13px;
}

#rating_stats > div > div:nth-child(2) {
  height: 8px;
  background-color: var(--cerebral_grey);
}

#product_reviews #reviewer_avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--deep_pink);
}

#product_reviews #your_review {
  background-color: var(--dark_moderate_violet);
  width: fit-content;
  font-size: 12px;
}

#product > div:first-child > div:last-child > div:first-child {
  font-size: 14px;
}

#product > div:first-child > div:last-child > div:first-child > div:last-child > span {
  background-color: var(--light_yellow);
  border-radius: 20px;
}

#product > div:first-child > div:last-child > div:first-child > div:last-child > p {
  color: var(--lighter_pink);
}

#product #app_avatar_wrapper > p:first-child {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--deep_pink);
}

#product #app_avatar_wrapper > div:last-child > p:first-child {
  color: var(--dark_moderate_violet);
}

#product .brand {
  font-size: 14px;
}

#product .brand > a {
  color: var(--dark_moderate_violet);
}

#product #product_header_wrapper .review_count {
  font-size: 12px;
}
