#text_input {
  font-size: 14px;
}

#text_input .inputs {
  width: 100%;
  padding: 7px;
  border: solid thin black;
  border-radius: 4px;
}

#text_input .inputs:focus {
  outline: none;
}

#text_input button {
  position: absolute;
  bottom: 7px;
  right: 10px;
  color: grey;
  font-size: 14px;
}
