.inputs {
  width: 350px;
  padding: 7px;
  border: solid thin black;
  border-radius: 4px;
}

.inputs:focus {
  outline: none;
}

label button {
  position: absolute;
  bottom: 7px;
  right: 10px;
  color: grey;
}
