#alert {
  width: 350px;
  z-index: 100000;
  position: fixed;
  top: 70%;
  left: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px -7px, -1px -1px 10px -7px;
}

#alert button {
  color: white;
}

#alert > div:first-child {
  padding: 5px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#alert > div:last-child {
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#alert p {
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-all;
}
