#app_modal {
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(33, 33, 33, 0.7);
  position: fixed;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 30000;
  overflow: hidden;
  inset: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#app_modal #modalContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#app_modal #modalContainer .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
