#delivery_page {
  min-height: 100vh;
}

#delivery_page #page_content {
  width: 50%;
}

#delete_confirmation_dialog {
  background-color: var(--darkest_Grey);
  width: 400px;
}

#delete_confirmation_dialog p {
  font-size: 12px;
}

#delete_confirmation_dialog > div:last-child > button:first-child {
  background-color: var(--deep_sky_blue);
}

#delete_confirmation_dialog > div:last-child > button:last-child {
  background-color: var(--grayish_blue);
}

@media screen and (max-width: 1200px) {
  #delivery_page #page_content {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  #delivery_page #page_content {
    width: 65%;
  }
}

@media screen and (max-width: 575px) {
  #delivery_page #page_content {
    width: 100%;
  }
}
