button.loginTriggerBtn {
  height: 100%;
  color: white;
  width: 150px;
}

button.loginTriggerBtn:hover {
  background-color: white;
  color: var(--lighter_pink);
}

#navbarWrapper > nav > div:last-child > a {
  background-color: var(--light_Green);
  padding: 5px 20px;
  display: inline-block;
  border-radius: 5px;
}

#navbarWrapper > nav > div:last-child > a > span:last-child {
  border-radius: 2px;
}

#account_dropdown > div:nth-child(2) button {
  background-color: rgb(252, 247, 240);
  padding: 10px 0;
}

#account_dropdown > div:nth-child(2) li,
#account_dropdown > div:nth-child(2) > p:first-child {
  padding: 10px 0;
}

#account_dropdown > div:nth-child(2) > p:first-child:hover,
#account_dropdown > div:nth-child(2) li:hover,
#account_dropdown > div:nth-child(2) button:hover {
  background-color: var(--Light_Grey);
}
