button.loginTriggerBtn {
  height: 100%;
  color: white;
  width: 150px;
}

button.loginTriggerBtn:hover {
  background-color: white;
  color: var(--lighter_pink);
}

#navbarWrapper {
  z-index: 1000;
}

#navbarWrapper nav > div:last-child > a {
  background-color: var(--light_Green);
  padding: 5px 20px;
  display: inline-block;
  border-radius: 5px;
}

#navbarWrapper nav > div:last-child > a > span:last-child {
  border-radius: 2px;
}

#navbarWrapper #category_list_wrapper {
  top: 0;
  background-color: var(--transparent_black);
  box-sizing: content-box;
  z-index: 1500;
}

#navbarWrapper #category_list_wrapper button {
  color: white;
}

#navbarWrapper #category_list_wrapper button:hover {
  background-color: white;
  color: black;
}

#navbarWrapper #category_list_toggle {
  z-index: 1500;
}

#navbarWrapper #category_list_toggle:hover + #category_list_modal {
  display: block;
  opacity: 1;
}

#navbarWrapper #category_list_modal {
  background-color: rgb(33, 33, 33, 0.7);
  height: 100vh;
  opacity: 0;
  display: none;
}

#navbarWrapper #category_list_toggle:hover > #category_list {
  display: block;
  opacity: 1;
}

#category_list {
  background-color: white;
  opacity: 0;
  display: none;
  z-index: 1000;
}
