#navbarWrapper {
  background-color: var(--lighter_pink);
  z-index: 1000;
}

#navbarWrapper button.loginTriggerBtn {
  height: 100%;
  color: white;
  width: 150px;
}

#navbarWrapper button.loginTriggerBtn:hover {
  background-color: white;
  color: var(--lighter_pink);
}

#navbarWrapper nav > div:last-child > a {
  background-color: var(--light_Green);
  padding: 5px 20px;
  display: inline-block;
  border-radius: 5px;
}

#navbarWrapper nav > div:last-child > a > span:last-child {
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  #navbarWrapper {
    background-color: white;
  }
}
