table#transfer_details_table th {
  font-weight: 200;
}

table#transfer_details_table tr {
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  table#transfer_details_table {
    word-break: break-all;
  }
}
