#filter_panel {
  width: 100%;
  height: 100%;
}

#filter_panel .filter_label,
#filter_panel .category {
  font-size: 13px;
  font-style: italic;
}

#filter_panel .filter_label {
  cursor: pointer;
}

#filter_panel .list_header {
  font-size: 14px;
}
