#footer span.icon_wrapper {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#footer span.social_icons {
  background-color: var(--Hex_Gray18);
}
#footer > ul {
  background-color: var(--Hex_Gray18);
}

#footer div#copy_right_wrapper {
  border-top: solid thin white;
}

#footer p {
  color: white;
}

#footer {
  background-color: var(--Black_Wash);
}

#footer > div:last-child {
  height: 40px;
}

#footer span#copy_right {
  font-size: 13px;
  font-style: italic;
  transform: translateY(-50%);
  height: fit-content;
  background-color: var(--Black_Wash);
  color: var(--cerebral_grey);
}

@media screen and (max-width: 767px) {
  #footer > ul {
    background-color: white;
  }

  #footer p {
    color: black;
  }

  #footer {
    background-color: white;
  }

  #footer div#copy_right_wrapper {
    border: none;
  }

  #footer span#copy_right {
    background-color: white;
  }
}
