div#authFormLink {
  background-color: var(--Light_Grey);
  box-sizing: border-box;
  padding: 20px 30px;
}

div#authFormLink > a {
  color: var(--deep_pink);
  padding: 10px;
  display: block;
  border: solid thin var(--deep_pink);
  text-align: center;
  border-radius: 5;
  border-radius: 5px;
}

div#authFormLink > a:hover {
  color: white;
  width: 100%;
  background-color: var(--deep_pink);
}
