:root {
  --Light_Grey: #f2f2f2;
  --darker_Grey: #e6e6e6;
  --deep_pink: #ed0d7f;
  --dark_wine: #94004f;
  --light_Green: #33b27b;
  --dark_Green: #319c6e;
  --lighter_pink: #ed017f;
}

@font-face {
  font-family: Archivo_Black;
  src: url("./assests/Archivo_Black/ArchivoBlack-Regular.ttf");
}

@font-face {
  font-family: Archivo_Bold;
  src: url("./assests/Archivo/Archivo-Bold.ttf");
}

@font-face {
  font-family: Archivo_Light;
  src: url("./assests/Archivo/Archivo-Regular.ttf");
}

@font-face {
  font-family: Archivo_Italic;
  src: url("./assests/Archivo/Archivo-Italic.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Archivo_Light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Archivo_Black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: Archivo_Bold;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: Archivo_Bold;
  font-size: 14px;
}

#navbarWrapper {
  background-color: var(--lighter_pink);
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  z-index: 2000000000;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal > .modal-content {
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: red;
}

.modal-open {
  overflow: hidden;
}
