:root {
  --dark_moderate_violet: #644ba0;
  --pastel_pink: #fde6f2;
  --lavender_blush: #fff8fc;
  --grayish_blue: #4f4e5a;
  --cerebral_grey: #cccccc;
  --lightest_grey: #f6f7f8;
  --Light_Grey: #f2f2f2;
  --darker_Grey: #e6e6e6;
  --darkest_Grey: #3f3f3f;
  --deep_pink: #ed0d7f;
  --dark_wine: #94004f;
  --light_Green: #33b27b;
  --dark_Green: #319c6e;
  --lighter_pink: #ed017f;
  --dark_orange: #fba100;
  --deep_sky_blue: #00ddff;
  --light_yellow: #ffdb67;
}

@font-face {
  font-family: Archivo_Black;
  src: url("./assests/Archivo_Black/ArchivoBlack-Regular.ttf");
}

@font-face {
  font-family: Archivo_Bold;
  src: url("./assests/Archivo/Archivo-Bold.ttf");
}

@font-face {
  font-family: Archivo_Light;
  src: url("./assests/Archivo/Archivo-Regular.ttf");
}

@font-face {
  font-family: Archivo_Italic;
  src: url("./assests/Archivo/Archivo-Italic.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Archivo_Light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Archivo_Black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  /* font-family: Archivo_Bold; */
  font-size: 14px;
  font-weight: 100;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 14px;
  font-weight: bold;
}

#navbarWrapper {
  background-color: var(--lighter_pink);
}

main {
  background-color: var(--Light_Grey);
}
