:root {
  --Light_Grey: #f2f2f2;
  --deep_pink: #ed0d7f;
  --dark_wine: #94004f;
  --light_Green: #33b27b;
  --dark_Green: #319c6e;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
