#rating_stats {
  width: 300px;
  color: var(--cerebral_grey);
  font-size: 13px;
}

#rating_stats > div > div:nth-child(2) {
  height: 8px;
  background-color: var(--cerebral_grey);
}

@media screen and (max-width: 350px) {
  #rating_stats {
    width: 100%;
  }
}
